@CHARSET "UTF-8";
html, body{
	height: 99%;
}
#topBanner {
	border: 1px solid black;
	height: 20px;
}
#container {
	height: 99%
}
#menu {
	border: 1px solid black;
	float: left;
	width: 200px;
	height: 100%;
	display: inline;
}
#content {
	border: 1px solid black;
	/*float: left;*/
	width: 100%;
	height: 100%;
}
.preHidden {
	display: none;
}