@CHARSET "UTF-8";
html, body{
	height: 99%;
}
#topBanner {
	border: 1px solid black;
	height: 50px;
}
#container {
	height: 99%
}
#content {
	border: 1px solid black;
	/*float: left;*/
	width: 100%;
	padding: 15px 0;
	height: 100%;
}
.preHidden {
	display: none;
}
a{
	color: #4b1625;
	text-decoration: underline;
	font-size: 1.2em;
}
a:link,a:visited{
	color: #4b1625;
}	
a:hover, a:active{
	color: #000;
	text-decoration: none;
	font-size: 1.2em;
}
hr{
 		border: 1px solid #c0c0c0;
}
#content-master{
 	float:left;
	min-height:40em;
	width:555px; 
}
 	
 	/* Typography */
 	
h1 { 
	font-family: 'Questrial', sans-serif, serif,arial,verdana, helvetica;
	font-weight: 400;
	color: #310f18;
	font-size:26px;
	padding:0;
	line-height: 24px;
	text-shadow: 2px 2px 2px #9d9d9d;

}
h2 { font-family: 'Questrial', sans-serif, serif,arial,verdana, helvetica; font-weight: 400;  font-size: 22px; color: #212121;   }
h3 { font-family: 'Questrial', sans-serif, serif,arial,verdana, helvetica; font-weight: 400; font-size: 16px; color: #212121; letter-spacing: 1px;   }



html{ font-size: 100%; }
body{ font-size: 62.5%;}
body{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; line-height: 180%; }
p { font-size: 1.2em; margin: 0.5em 0; }
		
li li{ font-size: 1em; }
 	/* Menu Local*/
 	
#nav-local{ 
	border: 1px solid black;
	float: left;
	width: 225px;
	height: 100%;
	display: inline;
	margin: 0px 25px 0 0;
	padding: 0;
}
	
#nav-local ul{
	padding: 0;
	margin: 0;
	margin-top: 20px;
}
#nav-local ul li:first-child{
	font-size: 2em;	
}
 	
#nav-local ul li{
	list-style-type: none;
}
#nav-local ul li a{
	color: #383737;
	text-decoration: none;
	list-style-type: none;
	font-size: 1.2em;
	display: block;
	padding: 2px 5px 5px 25px;

}
#nav-local ul li.active{
	color: #383737;
	text-decoration: none;
	list-style-type: none;
	font-size: 1.2em;
	border-bottom: 1px solid #000;
	display: block;
	padding: 2px 5px 5px 25px;
}

#nav-local ul li a.active
{
	color: #383737;
	text-decoration: none;
	list-style-type: none;
	font-size: 1.2em;
	border-bottom: 1px solid #959595;
	display: block;
	text-transform: uppercase;
	padding: 2px 5px 5px 25px;
	background: url(../images/nav_local_menu_active.png) no-repeat left;
	}
	
/*News list*/

#news-list{
	width: 565px;
	padding: 5px;
	
}
#news-list-item{
	border-bottom: 1px solid #959595;
	padding-bottom: 5px;
}
.read-more{
	color: #383737;
		font-style: italic;
		text-decoration: none;
}
.date{
	color: #383737;
	font-size: 1.0em;
}
.news{
	font-family: 'Questrial', sans-serif, serif,arial,verdana, helvetica;
	font-weight: 400;
	color: #310f18;
	font-size:22px;
	padding:0;
	line-height: 0;
	text-shadow: 2px 2px 2px #9d9d9d;
}
