
html, body {border: 0; margin: 0; padding: 0;}

body {
  	font-family: Geneva,Verdana,Arial,Helvetica,sans-serif;
	font-size: 62.5%;
    line-height: 120%;
	/*background: url("/images/katalog/bg.png")  repeat-x scroll 0 0  #ffffff; */
  	width: 100%;
  	color: #141414;
}

a {
    color: #4B1625;
    font-size: 1.2em;
    text-decoration: none;
}
a:link, a:visited {
    color: #4B1625;
}
a:hover, a:active {
    color: #000000;
    font-size: 1.2em;
}


a img {
  border: none;
}

h1 {
    color: #310F18;
    font-family: 'Questrial',sans-serif,serif,arial,verdana,helvetica;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    padding: 0;
    text-shadow: 2px 2px 2px #9D9D9D;
}
h2 {
    color: #212121;
    font-family: 'Questrial',sans-serif,serif,arial,verdana,helvetica;
    font-size: 20px;
    font-weight: 400;
}
h3 {
    color: #212121;
    font-family: 'Questrial',sans-serif,serif,arial,verdana,helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}

p {
    font-size: 1.1em;
	font-weight: normal;
	margin:0;
}
	
hr{
	width: 100%;
}
.right  li{
	text-align: right;
}

.float-l {
	float: left;
}

.float-r {
	float: right;
}

.line {
	width: 100%;
	border-bottom: 1px solid;
}

/***** Main Layout ****/


#logo .tkl{
	position: relative;
	top: 80px;
	left: 620px;
}

#logo .lkab{
	position: absolute;
	top: 12px;
	left: 720px;
}

#logo .larv{
	position: relative;
	padding-left: 5px;
}

#wrapper {
    margin: 0px auto;
    padding: 0px 20px;
    width: 100%;
}

#wrapper-cont {
	width: 100%;
	height: 1020px;
	padding-top:10px;
}

#content {
  	width: 100%;
	margin-top: -14px;
    padding: 15px 0;
}
#header {
	padding-top: 15px;
	padding-bottom: 5px;
	background: #650F27;
}

#fotter {
	width: 100%;
	clear: left;
	margin: auto 0;
	padding-top: 400px;
	text-align: center;
}

#fotter a {
  	color: #141414;
}

/* Företagsannons template */

#template-cont {
	height: 940px;
	width: 100%;
}

#press-cont {
	width: 100%;
	padding: 10px 10px;
}
.back {
	float: left;
	width: 48%;
	padding-bottom: 5px;
}
.press-menu {
	float: left;
	width: 48%;
	padding-bottom: 5px;
}

.press-menu  h2{
	border-bottom: 1px solid #959595;
	text-align: center;
}

.press-menu  li{
	font-size: 1.1em;
}

.foretagab {
	width: 78%;
	float: left;
	padding-top: 0px;
	clear: both;
}

.foretagab h1{
	font-size: 2.5em;
	font-weight: bold;
	margin-top: 5px;
	color: #B20933;
}


.ad {
	float: left;
	width: 43%;
}
.annons {
	width: 100%;
}

.fakta {
	float: left;
	width: 100%;
	vertical-align: top;
	padding: 0px;
}

td {
border: 0px solid;
}


.info li {
	margin: 0px 1px 5px 0;
	list-style: none;
	display: inline;
	height:8px;
}

td.info {
	margin: -15px;
	padding: -5px;
}

.info li a{
	padding: 1px 4px 1px 4px;
    color:#000;
    text-decoration:none;
	background: #eaeaea;
	font-size: 1em;
	font-weight: normal;
}

table.fakta p{
	margin-bottom: -5px;
	font-weight: normal;
}

.fakta-t h2{
	border-bottom: 1px solid #959595;
	text-align: center;
	margin-bottom: 3px;
}

.fakta2 {
	width: 130px;
	text-align: right;
}

.press {
	float: left;
	width: 100%;
	font-weight: normal;
}

table.press {
	border-bottom: 0px solid;
}

.press li{
	font-size: 1.1em;
	font-weight: normal;
}

.press a{
	font-size: 1.0em;
	font-weight: normal;
}

.kont li{
	margin-left: -40px;
	list-style: none;
	font-size: 1.1em;
	font-weight: normal;
}

.kont a{
	font-size: 1.0em;
}

.press th {
	text-align: left;
}

.mumma {
	width: 55%;
}

/* Monterkarta */

#map-cont {
	margin-top: 65px;
	padding-top: 30px;
}

#monter-lista {
	float: left;
	padding-bottom: 20px;
}

#monter-lista  li {
    float: left;
	padding: 0 7px 0 7px;
	list-style: none;
	border-right: 2px solid #959595;
}

.karta {
	width: 40%;
	float: left;
	vertical-align: top;
}

.monter {
	width: 460px;
	/* width: 100%; Relativ bredd fuckar första kartan*/
}

.clear-both {
	clear: both;
}


