p#vtip { 
	display: none; 
	position: absolute; 
	padding: 2px; 
	margin: 11px;
	font-size: 1em; 
	background-color: #fcfcfc; 
	border: 1px solid #B30838; -moz-border-radius: 1px; -webkit-border-radius: 1px; 
	z-index: 9999 }